@using MTKPM_QuanLyKhachSan.Common
@using MTKPM_QuanLyKhachSan.ViewModels
@{
	var services = ViewBag.services;
	var bookRoomDetails = ViewBag.bookRoomDetails;
}
@model OrderMenuAdminVM

<form id="form-order-menu" method="post">
	<!-- Lưu đặt phòng -->
	<div class="panel-save d-flex justify-content-between align-items-center">
		<div>
			<i style="font-size: 20px;" class="custom-icon fa-solid fa-burger custom-color-red"></i>
			<span style="font-size: 16px">@bookRoomDetails.Room.Name</span>
		</div>

		<div class="">
			<input type="submit" id="edit-booking" value="Lưu" />
			<input hidden name="BookRoomDetailsId" value="@bookRoomDetails.BookRoomDetailsId" />
		</div>
	</div>

	<!-- Form -->
	<div class="panel-form">
		<!-- Thông tin -->
		<div class="panel-form-info">
			<div class="custom-menu-search-box">
				<input id="input-search-menu" type="text" placeholder="Tìm menu">
			</div>

			<div class="list-menu-container">
				<ul class="custom-menu-list">
					@for (int i = 0; i < services.Count; i++)
					{
						<li class="custom-menu-list-item active">
							<div class="custom-menu-list-content">
								<div class="dot-icon">
									<div class="dot-icon2">
										<i class="fa-solid fa-minus"></i>
									</div>
								</div>
								<p class="menu-item-name">@services[i].Name</p>
								<div class="dot-icon">
									<div class="dot-icon2">
										<i class="fa-solid fa-plus"></i>
									</div>
								</div>
							</div>

							<input type="hidden" name="Orders[@i].ServiceId" value="@Model.Orders[i].ServiceId" />
							<input type="hidden" name="Orders[@i].Quantity" value="2" />
							@*<input type="hidden" id="order-data" name="Orders" />*@


							<div class="custom-menu-list-quantity">
								100
							</div>
						</li>
					}
				</ul>
			</div>
		</div>
	</div>
</form>