@using MTKPM_QuanLyKhachSan.Common
@{
	var services = ViewBag.services;
}

<ul class="custom-menu-list">
	@foreach (var item in services)
	{
		<li class="custom-menu-list-item">
			<div class="custom-menu-list-content">
				<div class="dot-icon">
					<div class="dot-icon2">
						<i class="fa-solid fa-minus"></i>
					</div>
				</div>
				<p>@item.Name</p>
				<div class="dot-icon">
					<div class="dot-icon2">
						<i class="fa-solid fa-plus"></i>
					</div>
				</div>
			</div>

			<div class="custom-menu-list-quantity">
				100
			</div>
		</li>
	}
</ul>