@using MTKPM_QuanLyKhachSan.ViewModels
@{
	Layout = "~/Views/Shared/_CustomerLayout.cshtml";
	var roomTypes = ViewBag.roomTypes;
}
@model BookingVM

<!-- Booking Start -->
<div class="container-xxl py-5">
	<div class="container">
		<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
			<h6 class="section-title text-center text-primary text-uppercase">Room Booking</h6>
			<h1 class="mb-5">Book A <span class="text-primary text-uppercase">Luxury Room</span></h1>
		</div>
		<div class="row g-5">
			<div class="col-lg-6">
				<div class="row g-3">
					<div class="col-6 text-end">
						<img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.1s" src="~/customer/img/about-1.jpg" style="margin-top: 25%;">
					</div>
					<div class="col-6 text-start">
						<img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.3s" src="~/customer/img/about-2.jpg">
					</div>
					<div class="col-6 text-end">
						<img class="img-fluid rounded w-50 wow zoomIn" data-wow-delay="0.5s" src="~/customer/img/about-3.jpg">
					</div>
					<div class="col-6 text-start">
						<img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.7s" src="~/customer/img/about-4.jpg">
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="wow fadeInUp" data-wow-delay="0.2s">
					<form id="form-booking">
						<div class="row g-3">
							<div class="col-md-6">
								<div class="form-floating">
									<input asp-for="Name" type="text" class="form-control" id="name" placeholder="Your Name" required>
									<label for="name">Tên của bạn</label>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-floating">
									<input asp-for="Phone" type="number" class="form-control" id="phone" placeholder="Your Phone" required>
									<label for="phone">Số điện thoại</label>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-floating date" id="date3" data-target-input="nearest">
									<input asp-for="CheckIn" type="text" class="form-control date-input" id="checkin" placeholder="Check In" required/>
									<label for="checkin">Ngày nhận</label>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-floating date" id="date4" data-target-input="nearest">
									<input asp-for="CheckOut" type="text" class="form-control date-input" id="checkout" placeholder="Check Out" required/>
									<label for="checkout">Ngày trả</label>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-floating">
									<select class="form-select" id="numAdult">
										<option value="1">1 người lớn</option>
										<option value="2">2 người lớn</option>
										<option value="3">3 người lớn</option>
										<option value="4">4 người lớn</option>
									</select>
									<label for="select1">Số người lớn</label>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-floating">
									<select class="form-select" id="numChildren">
										<option value="1">1 trẻ em</option>
										<option value="2">2 trẻ em</option>
										<option value="3">3 trẻ em</option>
										<option value="4">4 trẻ em</option>
									</select>
									<label for="select2">Số trẻ em</label>
								</div>
							</div>

							<div class="col-6">
								<div class="form-floating">
									<select class="form-select" id="select-room-type">
										@foreach (var item in roomTypes)
										{
											<option value="@item.RoomTypeId">@item.Name</option>
										}
									</select>
									<label for="select3">Loại phòng</label>
								</div>
							</div>

							<div class="col-6" id="render-room-partial-view">
							</div>

							<div class="col-12">
								<div class="form-floating">
									<textarea asp-for="Note" class="form-control" placeholder="Special Request" id="note" style="height: 100px"></textarea>
									<label for="message">Special Request</label>
								</div>
							</div>

							<div class="col-12">
								<a id="btn-submit" class="btn btn-primary w-100 py-3">Đặt ngay</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Booking End -->

<script type="module" src="~/customer/js/public-booking.js"></script>