@{
	var rooms = ViewBag.rooms;
}

<div class="form-floating">
	<select class="form-select" id="select3">
		@foreach (var item in rooms)
		{
			<option value="@item.RoomId">@item.Name</option>
		}
	</select>
	<label for="select3">Phòng</label>
</div>