@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

<!-- Header Start -->
<div class="container-fluid bg-dark px-0">
	<div class="row gx-0">
		<div class="col-lg-3 bg-dark d-none d-lg-block">
			<a href="index.html" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
				<h1 class="m-0 text-primary text-uppercase">Hotelier</h1>
			</a>
		</div>
		<div class="col-lg-9">
			<div class="row gx-0 bg-white d-none d-lg-flex">
				<div class="col-lg-7 px-5 text-start">
					<div class="h-100 d-inline-flex align-items-center py-2 me-4">
						<i class="fa fa-envelope text-primary me-2"></i>
						<p class="mb-0">info@example.com</p>
					</div>
					<div class="h-100 d-inline-flex align-items-center py-2">
						<i class="fa fa-phone-alt text-primary me-2"></i>
						<p class="mb-0">+012 345 6789</p>
					</div>
				</div>
				<div class="col-lg-5 px-5 text-end">
					<div class="d-inline-flex align-items-center py-2">
						<a class="me-3" href=""><i class="fab fa-facebook-f"></i></a>
						<a class="me-3" href=""><i class="fab fa-twitter"></i></a>
						<a class="me-3" href=""><i class="fab fa-linkedin-in"></i></a>
						<a class="me-3" href=""><i class="fab fa-instagram"></i></a>
						<a class="" href=""><i class="fab fa-youtube"></i></a>
					</div>
				</div>
			</div>
			<nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
				<a href="index.html" class="navbar-brand d-block d-lg-none">
					<h1 class="m-0 text-primary text-uppercase">Hotelier</h1>
				</a>
				<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
					<div class="navbar-nav mr-auto py-0">
						<a asp-controller="PublicHome" asp-action="Index" class="nav-item nav-link active">Trang chủ</a>
						<a asp-controller="PublicHome" asp-action="AboutUs" class="nav-item nav-link">Về chúng tôi</a>
						<a asp-controller="PublicHome" asp-action="Service" class="nav-item nav-link">Dịch vụ</a>
						<a asp-controller="PublicRoom" asp-action="Index" class="nav-item nav-link">Phòng</a>
						@*<div class="nav-item dropdown">
							<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
							<div class="dropdown-menu rounded-0 m-0">
								<a href="booking.html" class="dropdown-item">Booking</a>
								<a href="team.html" class="dropdown-item">Our Team</a>
								<a href="testimonial.html" class="dropdown-item">Testimonial</a>
							</div>
						</div>*@
						<a asp-controller="PublicHome" asp-action="Contact" class="nav-item nav-link">Liên hệ</a>

						@if (Accessor.HttpContext.Session.GetInt32("CustomerId") == null)
						{
							<div class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Tài khoản</a>
								<div class="dropdown-menu rounded-0 m-0">
									<a asp-controller="PublicCustomer" asp-action="Login" class="dropdown-item">Đăng nhập</a>
									<a asp-controller="PublicCustomer" asp-action="Register" class="dropdown-item">Đăng ký</a>
								</div>
							</div>
						}
						else
						{
							@Accessor.HttpContext.Session.GetInt32("CustomerName")
							<div class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
									@Accessor.HttpContext.Session.GetString("Name") <!-- Sử dụng class của Font Awesome để hiển thị biểu tượng người dùng -->
								</a>
								<div class="dropdown-menu rounded-0 m-0">
									<a asp-controller="PublicCustomer" asp-action="Information" class="dropdown-item">Thông tin tài khoản</a>
									<a asp-controller="PublicCustomer" asp-action="HistoryBooking" class="dropdown-item">Lịch sử đặt phòng</a>
									<a asp-controller="PublicCustomer" asp-action="Logout" class="dropdown-item">Đăng xuất</a>
								</div>
							</div>
						}
					</div>
					<a asp-controller="PublicRoom" asp-action="Booking" class="btn btn-primary rounded-0 py-4 px-md-5 d-none d-lg-block">Đặt phòng<i class="fa fa-arrow-right ms-3"></i></a>
				</div>
			</nav>
		</div>
	</div>
</div>
<!-- Header End -->