@{
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-container d-flex">
	<!-- Nội dung bên trái -->
	<div class="left-panel col-8 pl-0 pr-0">
		<!-- Thanh navbar -->
		<nav class="panel-navbar">
			<ul class="d-flex flex-row justify-content-between nav-container">
				<li class="nav-item active" id="month-view">
					<i class="fa-solid fa-bed nav-icon" style="color: #68CBF8"></i>
					<span class="">Lịch theo phòng</span>
				</li>

				<li class="nav-item" id="week-view">
					<i class="fa-solid fa-calendar-week nav-icon" style="color: #66C0B8"></i>
					<span class="">Lịch theo tuần</span>
				</li>

				<li class="nav-item" id="day-view">
					<i class="fa-solid fa-calendar-day nav-icon" style="color: #FF9A7A"></i>
					<span class="">Lịch theo ngày</span>
				</li>

				<li class="nav-item">
					<i class="fa-sharp fa-solid fa-magnifying-glass nav-icon" style="color: #68CBF8"></i>
					<span class="">Tìm kiếm</span>
				</li>
			</ul>

			<div class="nav-line"></div>
		</nav>

		<!-- THE CALENDAR -->
		<div style="padding: 24px">
			<div id="calendar" style="margin: 0px"></div>
		</div>
	</div>

	<!-- Nội dung bên phải -->
	<div class="right-panel col-4 pl-0 pr-0">
		
	</div>
</div>

<div class="custom-room-container" id="custom-container">
	<div class="custom-overlay"></div>

    <div class="custom-slide-up-box">
        <!-- Tabs for selecting room type -->
		<div class="custom-tab-container">
			<ul class="custom-tabs">
				<li class="custom-tab-link active" data-tab="custom-tab-1">Tất cả</li>
				<li class="custom-tab-link" data-tab="custom-tab-2">Phòng đơn</li>
				<li class="custom-tab-link" data-tab="custom-tab-3">Phòng đôi</li>
			</ul>

			<div class="nav-line"></div>
		</div>
        
		<div class="panel-form-roomtype-render custom-tab-content active">
			<div class="d-flex">
				<div class="row p-0 container-fluid panel-form-roomtype-render-list">
					<div value="104" class="col-1 panel-form-roomtype-render-item">
						104
					</div>

					<div value="105" class="col-1 panel-form-roomtype-render-item">
						105
					</div>

					<div value="106" class="col-1 panel-form-roomtype-render-item">
						106
					</div>
				</div>
			</div>
		</div>

		<div class="panel-form-roomtype-render custom-tab-content">
			<div class="d-flex">
				<div class="row p-0 container-fluid panel-form-roomtype-render-list">
					<div value="104" class="col-1 panel-form-roomtype-render-item">
						107
					</div>

					<div value="105" class="col-1 panel-form-roomtype-render-item">
						108
					</div>

					<div value="106" class="col-1 panel-form-roomtype-render-item">
						109
					</div>
				</div>
			</div>
		</div>

		<div class="panel-form-roomtype-render custom-tab-content">
			<div class="d-flex">
				<div class="row p-0 container-fluid panel-form-roomtype-render-list">
					<div value="104" class="col-1 panel-form-roomtype-render-item">
						110
					</div>

					<div value="105" class="col-1 panel-form-roomtype-render-item">
						111
					</div>

					<div value="106" class="col-1 panel-form-roomtype-render-item">
						112
					</div>
				</div>
			</div>
		</div>
    </div>
</div>

<script type="text/javascript" src="~/admin/assets/js/booking.js"></script>