@{
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-container d-flex">
	<!-- Nội dung bên trái -->
	<div class="left-panel col-8 pl-0 pr-0">
		<!-- loading -->
		<div class="loaderBar" id="loaderBar"></div>

		<!-- Thanh navbar -->
		<nav class="panel-navbar">
			<ul class="d-flex flex-row justify-content-between nav-container">
				<li class="nav-item active" id="room-wait">
					<i class="fa-solid fa-door-open nav-icon" style="color: #009688;"></i>
					<span class="">Phòng chờ</span>
				</li>

				<li class="nav-item" id="room-rent">
					<i class="fa-solid fa-door-closed nav-icon" style="color: #FF9985;"></i>
					<span class="">Phòng đang thuê</span>
				</li>

				<li class="nav-item" id="room-clean">
					<i _ngcontent-c5="" class="fas fa-broom fa-lg text-danger ng-star-inserted nav-icon"></i>
					<span class="">Phòng cần dọn</span>
				</li>

				<li class="nav-item" id="room-history">
					<i class="fa-solid fa-clock-rotate-left nav-icon" style="color: #68CBF8;"></i>
					<span class="">Lịch sử</span>
				</li>

				@*<li class="nav-item" id="room-history">
					<i class="fa-solid fa-magnifying-glass nav-icon" style="color: #66CBF5;"></i>
					<span class="">Tìm kiếm</span>
					</li>*@
			</ul>

			<div class="nav-line"></div>
		</nav>

		<div class="cotent-left-panel">
			@*<!-- render thuê trả phòng -->
				<div id="loading">
				Đang tải...
				</div>*@

			<!-- render thuê trả phòng -->
			<section id="section-left-panel" class="custom-section-left-panel">
			</section>
		</div>
	</div>

	<!-- Nội dung bên phải -->
	<div class="right-panel col-4 pl-0 pr-0"></div>
</div>

<script src="~/admin/assets/js/admin-rent-check-out.js"></script>

