:root {
    --primary-color: #FFB606;
    --white-color: #fff;
    --black-color: #000;
    --gray89-color: #898989;
    --line-color: #E5E5E5;
    --heading-color: #1C1C1C;
    --text-color: #7A7A7A;
    --bg-footer-color: #2A292B;
    --header-contact-height: 36px;
    --header-page-height: 90px;
    --line-color: #E5E5E5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.img-100w-50h {
    width: 100px;
    height: 100px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
}

#submit-input {
    text-align: right;
    cursor: pointer;
    padding-left: 10px;
}