@model MTKPM_QuanLyKhachSan.Models.Service

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Thêm menu mới";
}

<div class="main-container d-flex">
    <!-- Nội dung bên trái -->
    <div class="left-panel col-8 pl-0 pr-0">
        <!-- Header title -->
        <div class="custom-header-title">
            <div class="d-flex justify-content-between">
                <h4 class="card-title float-left mt-2" style="font-size: 24px">Thêm Menu Mới</h4>
            </div>
        </div>

        <!-- Search -->
        <div class="custom-bulkhead">
            <form asp-controller="AdminService" asp-action="Index" method="get" style="position: relative">
                <input id="search-input" type="text" class="form-control" placeholder="Tìm kiếm theo tên menu" name="searchString">
                <button id="submit-button" class="btn btn-dark" type="submit" style="position: absolute; top: 0; right: 0"><i class="fas fa-search"></i></button>
            </form>
        </div>

        <form method="post" asp-action="Create" asp-controller="AdminService" enctype="multipart/form-data">
            <!-- Lưu menu mới -->
            <div class="panel-save d-flex justify-content-between align-items-center">
                <span>Thêm Menu Mới</span>

                <div class="form-group">
                    <!-- Nút 'Hủy'' và nút 'Lưu chỉnh sửa' -->
                    <div class="d-flex justify-content-end">
                        <a href="javascript:history.back()" class="btn btn-danger mr-2">Hủy</a>
                        <button type="submit" class="btn btn-success">Lưu</button>
                    </div>
                </div>
            </div>

            <!-- Form -->
            <div class="panel-form">
                <!-- Thông tin -->
                <div class="panel-form-info">

                    <!-- Tên menu -->
                    <div class="panel-form-item">
                        <h5 class="panel-form-title">Tên menu</h5>
                        <input class="panel-form-input" type="text" name="Name" />
                    </div>

                    <!-- Giá menu -->
                    <div class="panel-form-item">
                        <h5 class="panel-form-title">Giá bán</h5>
                        <input class="panel-form-input" type="number" name="Price" placeholder="0.000 vnđ" />
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
