@model MTKPM_QuanLyKhachSan.Models.Service

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Thêm mới Menu";
}

<div class="main-container">
    <h2>Thêm mới Menu</h2>
    <form asp-action="Create" asp-controller="AdminService" method="post">
        <div class="form-group">
            <label>Tên menu:</label>
            <input type="text" class="form-control" asp-for="Name" />
        </div>
        <div class="form-group">
            <label>Giá bán:</label>
            <input type="number" class="form-control" asp-for="Price" />
        </div>
        <button type="submit" class="btn btn-primary">Thêm mới</button>
    </form>
</div>
