@model MTKPM_QuanLyKhachSan.Models.Service

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Xóa menu";
}

<div class="main-container d-flex">
    <!-- Nội dung bên trái -->
    <div class="left-panel col-8 pl-0 pr-0">
        <!-- Header title -->
        <div class="custom-header-title">
            <div class="d-flex justify-content-between">
                <h4 class="card-title float-left mt-2" style="font-size: 24px">Xóa Menu</h4>
            </div>
        </div>

        <!-- Xóa Menu -->
        <form method="post" asp-action="Delete" asp-controller="AdminService" asp-route-id="@Model.ServiceId" enctype="multipart/form-data">
            <div class="panel-save d-flex justify-content-between align-items-center">
                <span>Bạn có chắc chắn muốn xóa?</span>

                <div class="">
                    <!-- Nút 'Hủy' và nút 'Xác nhận' -->
                    <div class="d-flex justify-content-end">
                        <a href="javascript:history.back()" class="btn btn-danger mr-2">Hủy bỏ</a>
                        <button type="submit" class="btn btn-success">Xác nhận</button>
                    </div>
                </div>
            </div>

            <!-- Hiển thị thông tin menu cần XÓA-->
            <div class="panel-form">
                <!-- Bảng để hiển thị thông tin menu cần XÓA-->
                <table class="table table-bordered">
                    <tr>
                        <th>Mã Menu</th>
                        <td>@Model.ServiceId</td>
                    </tr>
                    <tr>
                        <th>Tên Menu</th>
                        <td>@Model.Name</td>
                    </tr>
                    <tr>
                        <th>Giá Bán</th>
                        <td>@Model.Price</td>
                    </tr>
                </table>
            </div>
        </form>
    </div>

    <!-- Nội dung bên phải -->
    <div class="right-panel col-8 pl-0 pr-0">
        <!-- Không cần hiển thị gì ở bên phải -->
    </div>
</div>
