@model IEnumerable<MTKPM_QuanLyKhachSan.Models.Service>

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Quản lý Menu";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Chỉnh sửa dịch vụ</h2>
            <form asp-action="Edit" method="post">
                <input type="hidden" asp-for="ServiceId" />
                <div class="form-group">
                    <label>Tên dịch vụ</label>
                    <input type="text" class="form-control" asp-for="Name" required>
                </div>
                <div class="form-group">
                    <label>Giá</label>
                    <input type="number" class="form-control" asp-for="Price" required>
                </div>
                <button type="submit" class="btn btn-primary">Lưu</button>
            </form>
        </div>
    </div>
</div>
