@{
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-container d-flex">
	<!-- Nội dung bên trái -->
	<div class="left-panel col-8 pl-0 pr-0">
		<!-- Thanh navbar -->
		<div class="custom-header-title">
			<div class="d-flex justify-content-between">
				<h4 class="card-title float-left mt-2" style="font-size: 24px">Tất cả loại phòng</h4>
				<a class="btn btn-primary veiwbutton" id="roomType-create">Thêm loại phòng</a>
			</div>
		</div>

		<div class="custom-bulkhead">
			<form style="position: relative">
				<input id="search-input" type="text" class="form-control" placeholder="Tìm kiếm theo tên phòng" name="searchString">
				<p id="submit-button" class="btn" style="position: absolute; top: 0; right: 0"><i class="fas fa-search"></i></p>
			</form>
		</div>



		<div class="content container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="card card-table">
						<div class="card-body booking_card">
							<div class="table-responsive">
								<table class="datatable table table-stripped table table-hover table-center mb-0">
									<thead>
										<tr>
											<th style="width: 1%" class="custom-text-center">Mã</th>
											<th style="width: 20%">Tên Loại Phòng</th>
											<th style="width: 10%" class="custom-text-center">Giá</th>
											<th style="width: 10%" class="custom-text-center">Số giường</th>
											<th style="width: 20%" class="custom-text-center">Hình ảnh</th>
											<th style="width: 39%">Chức năng</th>
										</tr>
									</thead>

									<tbody class="tbody-share">
										<tr>
											<td class="custom-text-center">101</td>
											<td>Phòng đôi</td>
											<td class="custom-text-center">1,000,000 VNĐ</td>
											<td class="custom-text-center">2</td>
											<td class="custom-text-center">
												<img class="img-100w-50h" src="~/img/avatar-1.jpg" />
											</td>
											<td>
												<a data-room-type-id="" class="btn btn-primary btn-sm roomType-details">
													<i class="fas fa-pencil-alt"></i>
													Chi Tiết
												</a>

												<a data-room-type-id="" class="btn btn-info btn-sm roomType-edit">
													<i class="fas fa-pencil-alt"></i>
													Chỉnh sửa
												</a>

												<a data-room-type-id="" class="btn btn-danger btn-sm roomType-delete">
													<i class="fas fa-pencil-alt"></i>
													Xóa
												</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<!-- Nội dung bên phải -->
	<div class="right-panel col-4 pl-0 pr-0">
		<form method="post" action="../../RoomType/Create" enctype="multipart/form-data">
			<!-- Lưu đặt phòng -->
			<div class="panel-save d-flex justify-content-between align-items-center">
				<span>Thêm mới</span>

				<div class="">
					<input id="submit-input" type="submit" value="Lưu" />
				</div>
			</div>

			<!-- Form -->
			<div class="panel-form">
				<!-- Thông tin -->
				<div class="panel-form-info">
					<!-- Tên tài khoản -->
					<div class="panel-form-item">
						<h5 class="panel-form-title">Tên loại phòng</h5>
						<input class="panel-form-input" type="text" name="Name" />
						<span data-valmsg-for="${data}" class="text-danger"></span>
					</div>

					<!-- Tên tài khoản -->
					<div class="panel-form-item">
						<h5 class="panel-form-title">Số giường</h5>
						<input class="panel-form-input" type="number" name="BedNumber" />
					</div>

					<!-- Tên tài khoản -->
					<div class="panel-form-item">
						<h5 class="panel-form-title">Giá</h5>
						<input class="panel-form-input" type="number" name="Price" placeholder="0.000 đ" />
					</div>

					<!-- Tên tài khoản -->
					<div class="panel-form-item">
						<h5 class="panel-form-title">Mô tả</h5>
						<input class="panel-form-input" type="text" name="Description" />
					</div>

					<!-- Tên tài khoản -->
					<div class="panel-form-item">
						<h5 class="panel-form-title">Hình ảnh</h5>
						<input class="panel-form-input img-input-file" accept="image/*" type="file" name="ImageFile" />
						<br />
						<img class="preview-image w-100 " />
					</div>
				</div>
			</div>
		</form>
	</div>
</div>